<launch>
    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/leo/core_param.yaml"/>
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/leo/example_setup.yaml"/>
    </node>
    <include file="$(find map_generation)/launch/tra2occ_cost.launch"/>
</launch>